{% extends "base-admin.html" %}
{% block content %}

{% if user.role == "ADMIN" or user.role == "EDITOR" %}
    <p><a href="/products/create/">➕ Create Product</a></p>
{% endif %}

<h2>Internal Products</h2>

<table border="1" cellpadding="8">
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Actions</th>
</tr>

{% for product in products %}
<tr>
    <td>{{ product.name }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.price }}</td>
    <td>
    {% if user.role == "ADMIN" or user.role == "EDITOR" %}
        <a href="/products/{{ product.id }}/edit/">Edit</a>
        |
        <a href="/products/{{ product.id }}/delete/">Delete</a>
    {% endif %}
</td>

</tr>
{% endfor %}
</table>
{% endblock %}
