{% extends "base.html" %}
{% block content %}
<h2>Login</h2>

<form method="post">
    {% csrf_token %}

    <input name="username" placeholder="Username" required><br><br>
    <input name="password" type="password" placeholder="Password" required><br><br>

    <label>Login as:</label>
    <select name="role" required>
        <option value="ADMIN">Admin</option>
        <option value="VIEWER">Viewer</option>
    </select><br><br>

    <button type="submit">Login</button>
    <button type="submit"><a href="/signup">Signup</a></button>

</form>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}
{% endblock %}
